body {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    text-decoration: none;
    background-color: rgb(45, 11, 11);
    display: flex;
    justify-content: center;
    align-items: center;
  
  }
  
  h1 {
   color: rgb(250, 237, 205);
   text-align: center;
  }
  
  h1 span {
    color: rgb(212, 163, 115);
  }
  
  form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  label {
    text-align: center;
    color: rgb(250, 237, 205);
  }
  
  #imput-coin {
    padding: 15px;
    width: 40vh;
    border: 2px solid rgb(212, 163, 115);
    border-radius: 30px;
    background-color: rgb(45, 11, 11);
    color: rgb(250, 237, 205);
  }
  
  #btn-submit {
    display: block;
    margin: 20px auto;
    padding: 12px;
    width: 150px;
    border: 2px solid rgb(212, 163, 115);
    border-radius: 30px;
    background-color: rgb(212, 163, 115);
    color: rgb(250, 237, 205);
    font-size: 17px;
  }
  
  #btn-submit:hover {
    background-color: rgb(250, 237, 205);
    color: rgb(212, 163, 115);
    cursor: pointer;
  }
  
  #return-section {
    border: 2px solid rgb(212, 163, 115);
    border-radius: 30px;
    background-color: rgb(45, 11, 11);
    width: 67vw;
    padding: 40px;
  }
  
  #return-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 40px;
  }
  
  #divs-coin {
    width: 150px;
    height: 30px;
    background-color: rgb(212, 163, 115);
    margin: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3px;
    color: rgb(250, 237, 205);
  }
  
  #return-h2 {
    color: rgb(250, 237, 205);
    text-align: center
  }
  
  img {
    width: 20px;
  }